body {
    background: #eee;
    -webkit-overflow-scrolling: touch
}

.refund_detail_wrap {
    width: 100%;
    padding-bottom: 2.56rem
}

.ad_header {
    height: 1.8773333333rem;
    padding: 0 .64rem;
    position: relative;
    background: #fff
}

.ad_header h2 {
    color: #333;
    text-align: center;
    width: 100%;
    line-height: 1.8773333333rem
}

[data-dpr="1"] .ad_header h2 {
    font-size: 17px
}

[data-dpr="2"] .ad_header h2 {
    font-size: 34px
}

[data-dpr="3"] .ad_header h2 {
    font-size: 51px
}

.ad_back .icon {
    display: block;
    font-size: .7466666667rem
}

.ad_back {
    display: block;
    width: 1.0666666667rem;
    height: 100%;
    display: block;
    line-height: 1.8773333333rem;
    position: absolute;
    left: .64rem;
    top: 0rem
}

.refund_detail_status {
    width: 100%;
    height: 3.84rem;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background: #fff;
    padding-left: .64rem;
    color: #333
}

[data-dpr="1"] .refund_detail_status {
    font-size: 15px
}

[data-dpr="2"] .refund_detail_status {
    font-size: 30px
}

[data-dpr="3"] .refund_detail_status {
    font-size: 45px
}

.refund_detail_status .refund_wait {
    padding-left: .8533333333rem;
    padding-top: .64rem;
    position: relative
}

.refund_detail_status .refund_wait .icon {
    position: absolute;
    left: -.1066666667rem;
    top: .6826666667rem;
    color: #f42323
}

[data-dpr="1"] .refund_detail_status .refund_wait .icon {
    font-size: 17.5px
}

[data-dpr="2"] .refund_detail_status .refund_wait .icon {
    font-size: 35px
}

[data-dpr="3"] .refund_detail_status .refund_wait .icon {
    font-size: 52.5px
}

.refund_detail_status .refund_explain {
    color: #999;
    padding-top: .2133333333rem;
    padding-left: .8533333333rem
}

[data-dpr="1"] .refund_detail_status .refund_explain {
    font-size: 12px
}

[data-dpr="2"] .refund_detail_status .refund_explain {
    font-size: 24px
}

[data-dpr="3"] .refund_detail_status .refund_explain {
    font-size: 36px
}

.refund_detail_status .refund_explain em {
    color: #f42323
}

.refund_detail_status .refund_explain span {
    color: #333;
    margin-left: .2133333333rem
}

.refuse {
    height: 4.2666666667rem
}

.refuse .refund_wait .icon {
    left: 0rem;
    top: 1.0453333333rem
}

[data-dpr="1"] .refuse .refund_wait .icon {
    font-size: 15px
}

[data-dpr="2"] .refuse .refund_wait .icon {
    font-size: 30px
}

[data-dpr="3"] .refuse .refund_wait .icon {
    font-size: 45px
}

.agree {
    height: 4.9066666667rem;
    padding-right: .8533333333rem
}

.agree .refund_wait .icon {
    top: 1.0453333333rem;
    color: #30b71a
}

[data-dpr="1"] .agree .refund_wait .icon {
    font-size: 17px
}

[data-dpr="2"] .agree .refund_wait .icon {
    font-size: 34px
}

[data-dpr="3"] .agree .refund_wait .icon {
    font-size: 51px
}

.agree .refund_explain p {
    display: inline-block;
    width: 11.0933333333rem
}

.agree .refund_explain span {
    display: inline-block;
    width: 2.56rem;
    margin-left: 0
}

.success .refund_wait .icon {
    color: #30b71a
}

[data-dpr="1"] .success .refund_wait .icon {
    font-size: 17px
}

[data-dpr="2"] .success .refund_wait .icon {
    font-size: 34px
}

[data-dpr="3"] .success .refund_wait .icon {
    font-size: 51px
}

.close {
    height: 2.56rem
}

[data-dpr="1"] .close .refund_wait .icon {
    font-size: 15.5px
}

[data-dpr="2"] .close .refund_wait .icon {
    font-size: 31px
}

[data-dpr="3"] .close .refund_wait .icon {
    font-size: 46.5px
}

.returned {
    height: 2.56rem
}

.returned .refund_wait .icon {
    color: #30b71a
}

[data-dpr="1"] .returned .refund_wait .icon {
    font-size: 17px
}

[data-dpr="2"] .returned .refund_wait .icon {
    font-size: 34px
}

[data-dpr="3"] .returned .refund_wait .icon {
    font-size: 51px
}

.refund_tip {
    width: 100%;
    height: 2.56rem;
    padding: .64rem .576rem 0 1.4933333333rem;
    background: #fff;
    color: #333;
    line-height: 1.4
}

[data-dpr="1"] .refund_tip {
    font-size: 12px
}

[data-dpr="2"] .refund_tip {
    font-size: 24px
}

[data-dpr="3"] .refund_tip {
    font-size: 36px
}

.refund_tip em {
    color: #f42323
}

.refund_info {
    background: #fff;
    margin-top: .4266666667rem
}

.refund_info .layer_title {
    height: 1.8773333333rem;
    line-height: 1.8773333333rem;
    padding-left: .64rem;
    color: #333;
    position: relative;
    background: #fff;
    border: 1px solid #eeeeee
}

[data-dpr="1"] .refund_info .layer_title {
    font-size: 15px
}

[data-dpr="2"] .refund_info .layer_title {
    font-size: 30px
}

[data-dpr="3"] .refund_info .layer_title {
    font-size: 45px
}

.refund_info .title_word {
    display: inline-block;
    width: auto;
    max-width: 50%;
    vertical-align: middle
}

.refund_info .list_item {
    width: 100%;
    padding: .4266666667rem .64rem;
    background: #fafafa
}

.refund_info .list_item .pic {
    width: 3.84rem;
    height: 3.84rem
}

.refund_info .list_item .pic img {
    width: 100%;
    height: 100%
}

.info {
    flex: 1;
    margin-left: .64rem;
    position: relative
}

[data-dpr="1"] .info .title {
    font-size: 13px
}

[data-dpr="2"] .info .title {
    font-size: 26px
}

[data-dpr="3"] .info .title {
    font-size: 39px
}

.info .prop {
    color: #666;
    position: relative;
    padding-top: .2133333333rem
}

[data-dpr="1"] .info .prop {
    font-size: 12px
}

[data-dpr="2"] .info .prop {
    font-size: 24px
}

[data-dpr="3"] .info .prop {
    font-size: 36px
}

.detailed_info {
    width: 100%;
    padding: 0 .64rem
}

.detailed_info li {
    padding: .7893333333rem 0 .512rem;
    border-bottom: 1px solid #eeeeee;
    font-size: 0
}

.detailed_info li span {
    color: #999
}

[data-dpr="1"] .detailed_info li span {
    font-size: 13px
}

[data-dpr="2"] .detailed_info li span {
    font-size: 26px
}

[data-dpr="3"] .detailed_info li span {
    font-size: 39px
}

.detailed_info li div {
    color: #333;
    padding-left: .576rem
}

[data-dpr="1"] .detailed_info li div {
    font-size: 13px
}

[data-dpr="2"] .detailed_info li div {
    font-size: 26px
}

[data-dpr="3"] .detailed_info li div {
    font-size: 39px
}

.detailed_info .more_list {
    display: none
}

.detailed_info .refund_pic img {
    width: 2.56rem;
    height: 2.56rem;
    margin-right: .4266666667rem
}

.detailed_info .more {
    color: #333;
    -webkit-justify-content: center;
    justify-content: center
}

[data-dpr="1"] .detailed_info .more {
    font-size: 13px
}

[data-dpr="2"] .detailed_info .more {
    font-size: 26px
}

[data-dpr="3"] .detailed_info .more {
    font-size: 39px
}

.detailed_info .more::after {
    display: inline-block;
    content: '';
    width: .384rem;
    height: .384rem;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    border-color: #333;
    border-style: solid;
    margin-left: .2133333333rem;
    margin-top: .0426666667rem
}

.refund_opt {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 16rem;
    margin: 0 auto;
    border-bottom: 1px solid #d2d2d2;
    padding-right: .64rem;
    height: 2.1333333333rem;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    background: #fff
}

.refund_opt a {
    width: 2.9866666667rem;
    height: 1.0666666667rem;
    line-height: 1.0666666667rem;
    text-align: center;
    -webkit-border-radius: .2133333333rem;
    border-radius: .2133333333rem;
    border: 1px solid #333;
    color: #333;
    margin-left: .2133333333rem
}

[data-dpr="1"] .refund_opt a {
    font-size: 13px
}

[data-dpr="2"] .refund_opt a {
    font-size: 26px
}

[data-dpr="3"] .refund_opt a {
    font-size: 39px
}

.refund_opt .red {
    border: 1px solid #f42323;
    color: #f42323
}

.refund_opt .opt_text {
    width: 3.84rem
}
