
/*reset*/
ul{
	list-style: none;
	padding: 0;
}
em{
	color: #FF0000;
	font-style: normal;
	vertical-align: middle;
}
html,body{
	height: 100%;
}
body{
	overflow-y:hidden;
	font-family: "Microsoft YaHei","微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;
}
@font-face {
	font-family: 'iconfont';
    src: url('../../font/iconfont.eot'); /* IE9*/
    src: url('../../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.btn-circle{
	font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    border:1px solid #E7ECF1;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
}

/*tabs*/
.top-tabs-wrap{
	float: left;
	height: 46px;
	width: 780px;
	overflow: hidden;
}
.top-tabs{
	margin: 0;
	padding: 0;
	width: 2000px;
}
.top-tabs li{
	list-style: none;
	float: left;
	background: #ed6b75;
	height: 46px;
	line-height: 46px;
	/*padding: 0 0 0 10px;*/
	margin-right: 10px;
}
.top-tabs li a{
	color: #FFF;
	font-size: 16px;
	line-height: 46px;
	margin-left:20px;
	margin-right: 5px;
	text-decoration: none;
}
.tabs-close-btn{
	font-size:18px;
	color: #FFF;
	/*margin-right: 20px;*/
	cursor: pointer;
	/*margin-right: 10px;*/
	position: absolute;
	right: 5px;
	top: 9px;

}

.tabs-title-active{
	background: #36c6d3 !important;
}
.tabs-title.active>a:hover{
	cursor: default;
}

.tabbable{
	float: left;
	/*height: 500px;*/
	overflow: hidden;
	width: 78%;
}

.nav-pills>li.active,.nav-pills>li.hover{
	background-color: #337ab7;
	/*border-radius: 4px;*/
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background:none;
	color: #FFF;
	display: inline-block;
}
.nav>li{
	height: 40px;
	line-height: 20px;
	/*max-width: 120px;*/
}
.nav>li>a{
	padding:10px;
	color: #FFF;
	/*display: inline-block;*/
	cursor: pointer;
}

.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: #3f4f62;
}
.nav-pills>li+li{
	margin-left: 0;
}
/*.page-content{
	min-height: 800px !important;
}
}
.tab-content{
	min-height: 800px !important;
}*/
.tab-pane{
	width: 100%;
	height: 100%;
}
.tab-dropdow-box{
	display: none;
}
/*.page-content-wrapper .page-content{
	margin-left: 0;
}*/

.portlet{
	background: #FFF;
	padding: 20px;
	overflow: hidden;
}

.tabs-title.hover,.tabs-title.active {
	background-color: #36c6d3 !important;
	position: relative;
}
.tabs-title.active:after{
	content: '';
	display: block;
	position: absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-top: 6px solid #36c6d3;
	bottom: -12px;
    left: 45%;
}
/*.tabs-title:hover:after{
	content: '';
	display: block;
	position: absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-top: 6px solid #ed6b75;
	bottom: -12px;
    left: 45%;
}*/
li.tabs-title>a{
	display: inline-block;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
}
.tabs-title>span{
	visibility: hidden;
}
.nav-pills>li.active>span, .tabs-title:hover span{
	visibility: visible;
}
.tabdrop:hover{
	background: #3f4f62;
}
.nav-pill{
	width: 1000px !important;
}

a{
	outline:none !important;
}
.data-search-btn{
	background-color: #e02222;
	color: #FFF;
	margin: 20px 0;
}
.data-search-btn:hover{
	background-color: #e02222;
	color: #FFF;
}
.data-title-box{
	height: 50px;
}
.data-table-box{
	border:1px solid #E7ECF1;
}
.portlet-title{
	border-bottom:1px solid #E7ECF1;
}
.table-toolbar{
	height: 150px;
}
.data-search-dropdown{
	height: 55px;
	background-color: rgb(255,244,209);
	padding: 15px;
	border:1px solid #CCC;
}
.data-search-dropdown span{
	margin-right: 30px;
	vertical-align: middle;
}
.data-search-dropdown input{
	vertical-align: middle;
	margin-left: 10px;
}
.data-btn-sure{
	width: 75px;
	height: 30px;
	border-radius: 5px;
	background:#36C6D3;
	outline: none;
	color: #FFF;
	box-shadow: none !important;
}

.portlet.light.bordered{
	border:1px solid #e7ecf1!important;
}

/*错误提示框*/
.data-error-box{
	background-color: rgb(255,219,191);
	color: #D91E18;
	padding: 10px;
	margin: 10px 20px;
}
.data-error-box ul li{
	list-style: none;
}
.data-table-box{
	padding: 20px;
}


/*用户信息*/
.data-info-box{
	padding: 20px !important;
}
.data-info-floor{
	border:1px solid #e7ecf1;
}
.data-info-box h5,.tab-content h5,.form-body h5{
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}
.data-info-floor ul{
	margin: 10px;
}
.data-info-floor ul li{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	width: 33%;
}
.data-info-floor ul li i{
	margin-right: 5px;
}
.data-btn{
	border-radius: 5px !important;
	width: 80px !important;
	height: 30px !important;
	line-height: 24px;
	text-align: center;
	display: inline-block;
}

/*新建会员*/
.form-item-box > span{
	display: inline-block;
	width: 33%;
	vertical-align: middle;
}
/*.form-item-box>span>label{
	display: inline-block;
	width: 60px;
	text-align: right;
}*/
.form-floor-item{
	border-top: 1px solid #E7ECF1;
	border-bottom: 1px solid #E7ECF1;
	margin: 20px;
	padding-bottom: 20px;
}
.margin-top-none{
	margin-top: 0;
}
.border-top-none{
	border-top: none;
}
.tab-title{
	border-bottom: 2px solid #32C5D2;
	font-size: 0;
}
.tab-title li{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}
.tab-title li:hover{
	background-color: #F3F3F3 !important;
	color:#565656;
	cursor: pointer;

	font-size: 16px;
}
.tab-bg{
	background-color: #32C5D2 !important;
	color:#FFF;
	cursor: pointer;
}

ul.nav-pills{
	width: 2000px;
}
.page-content-wrapper .page-content{
	/*padding:25px  20px 10px;*/
	padding:0px 0px 0px 0px !important;
}
.page-container-bg-solid .page-bar, .page-content-white .page-bar{
	margin-left: 0;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username{
	width: 70px;
	/*overflow: hidden;*/
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tab-table-box{
	float: left;
}
/*.dropdown-user{
	width:160px;
}
*/

/*左侧宽度限定*/
.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 180px!important;
    height: 43px!important;
    padding-left: 20px;
    padding-right: 20px;
}

/*@media (min-width: 992px)*/
.page-sidebar {
    width: 180px!important;
    float: left;
    position: relative;
    margin-right: -100%;
}

/*@media (min-width: 992px)*/
.page-content-wrapper .page-content {
    margin-left: 180px!important;
    margin-top: 0;
    min-height: 600px;
    padding: 25px 20px 10px;
}

/*头部高度限定*/
.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 40px!important;
    min-height: 40px!important;
    filter: none;
    background-image: none;
}
.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 40px!important;
    min-height: 40px!important;
    filter: none;
    background-image: none;
}
.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 40px!important;
    min-height: 40px!important;
    filter: none;
    background-image: none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown {
    margin: 0;
    padding: 0 4px;
    height: 40px!important;
    display: inline-block;
}
.page-header-fixed .page-container {
    margin-top: 40px!important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle {
    margin: 0;
    padding: 12px 10px 9px!important;
}
.page-sidebar {
    position: fixed !important;
    margin-left: 0;
    top: 40px;
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
    padding: 0;
    width: 45px !important;
}
/**/
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle{
	padding: 12px 6px 12px 8px!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle{
	height: 40px!important;
}
.page-header .top-menu .dropdown-quick-sidebar-toggler>.dropdown-toggle {
    padding: 12px 10px 9px!important;
}
.page-header.navbar .page-logo .logo-default {
	margin: 10px 0 0 !important;
;
}