<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1,minimum-scale=1,user-scalable=no,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="wap-font-scale" content="no">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>已结算</title>
	
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../../css/settlement.css">
    <script src="../js/hotcss.js"></script>
</head>
<body>
	<div class="wait_settlement" id="app">
		<div id="mescroll" class="mescroll">
        <div class="mescroll-bounce">
			<div class="ad_header">
		        <a href="javascript:;" class="ad_back">
		            <span class="icon">&#xe885;</span>
		        </a>
		        <h2>已结算收入</h2>
		        <span class="ad_more icon">&#xe602;</span>
		    </div>
		    <div class="wait_top">
				<h3 class="wait_income">已结算</h3>
				<div class="wait_amount">
					<span>¥</span>
					<em>25.10</em>
				</div>
				<div class="tag" @click="showCommission" v-text="commissionName">全部</div>
		    </div>
		    <section>
				<div class="commission flex">
					<i class="icon">&#xe630;</i>
					<span class="commission_content">销售提成</span>
				</div>
				<div class="commission_item_wrap">
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
				</div>
		    </section>
		     <section>
				<div class="commission flex">
					<i class="icon level_one">&#xe630;</i>
					<span class="commission_content">一级团队销售提成</span>
				</div>
				<div class="commission_item_wrap">
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
				</div>
		    </section>
		     <section>
				<div class="commission flex">
					<i class="icon level_two">&#xe630;</i>
					<span class="commission_content">二级团队销售提成</span>
				</div>
				<div class="commission_item_wrap">
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
					<a href="" class="commission_item">
						<div class="commission_top flex">
							<h3 class="commission_title singleEllipsis">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h3>
							<em class="commission_amount">￥25.00</em>
						</div>
						<div class="commission_bottom flex">
							<p class="commission_time">2017-02-21 17:13:15￥25.00</p>
							<span class="commission_status">交易成功</span>
						</div>
					</a>
				</div>
		    </section>
	</div>
	</div>
	
	<commission-part :slectdata="commissionList" v-if="commissionShow" @chose="selectItem" @partopt="closePart"></commission-part>
	</div>

	<div class="nav_more_list">
	    <div class="triangle-up"></div>
	    <ul>
	        <li class="flex" onclick="">
	            <span class="icon">&#xe608;</span>
	            <em>首页</em>
	        </li>
	        <li class="flex" onclick="">
	            <span class="icon">&#xe60a;</span>
	            <em>购物车</em>
	        </li>
	        <li class="flex" onclick="">
	            <span class="icon">&#xe64a;</span>
	            <em>我的</em>
	        </li>
	    </ul>
	</div>
</body>
<!-- <?php $this->beginBlock('foot') ?> -->
	<script src="../../js/mescroll.min.js"></script>
	<script src="../js/zepto.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script>
	    $(function() {

	        $('.ad_more').on('click', function () {
	            event.stopPropagation();
	            $(".nav_more_list").toggle();
	        })
	        $(window).on('click', function () {
	            $(".nav_more_list").hide();
	        })
	    })
	</script>
	<script>
		var data = "";
		//选择组件
		var commission = Vue.extend({
			template: '<div class="com_type_wrap" @click="closeCon">'+
					  '<div class="com_type">'+
		              '<h2>请选择</h2>' +
		              '<ul>'+
		              '<li class="com_type_item" v-for="(item,index) in commissionData" :class="{active: item.isMark}" @click="isChose(item.name,index)">{{item.name}}</li>'+
		              '</ul>'+
		              '<div class="com_type_chose" @click="closeCon">关闭</div>'+
	                  '</div>'+
			          ' </div>',

		    props: ['slectdata'],//父组件的传值 必须是小写
            data: function () {
                return {
                    commissionData: this.slectdata,
                }
            },
            watch: {
               
            },
            mounted: function () {
            	console.log(this.commissionData);
            },
            methods: {
               isChose: function(name,val) {
               		event.stopPropagation();
               		this.$emit('chose', name);
               		var len = this.commissionData.length;
                    for (var i = 0; i < len; i++) {
                        this.commissionData[i].isMark = false;
                    }
               		this.commissionData[val].isMark = true;
               },
               closeCon: function() {
               		this.$emit('partopt',false);
               }
            }
		});

		new Vue({
			el: '#app',
			components: {
                'commission-part': commission
            },
			data: {
				commissionList: [{name:'全部',isMark: false},{name:'销售提成',isMark: false},{name:'一级团队提成',isMark: false},{name:'二级团队提成',isMark: false}],
				commissionShow: false,
				commissionName: '全部',
				dataList:'',
			},
			mounted: function() {

				/*_self.mescroll = new MeScroll("mescroll", {
	                up: {
	                    auto:false, //初始化不加载
	                    callback: _self.upCallback, //上拉回调
	                },
	                down: {
	                    use: false,
	                }
	            });
            	document.getElementById("app").style.display="block";*/
			},
			methods: {	
				//显示提成选项
			   showCommission: function() {
			   		this.commissionShow = true;
			   },
               selectItem: function(val) {
               		//console.log(val);
               		this.commissionName = val;
               },
               closePart: function(val) {
               		this.commissionShow = val;
               }
			}

		})
	</script>
<!-- <?php $this->endBlock() ?> -->
</html>