@import 'px2rem'; 
$designWidth : 750; 

body {
    background: #eee;
}
.after_sale {
	width: 100%;
}
.ad_header {
    height: px2rem(88);
    padding: 0 px2rem(30);
    border-bottom: 1px solid #d2d2d2;
    position: relative;
    background: #fff;
}
.ad_header h2 {
    color: #333;
    @include px2px(34);
    text-align: center;
    width: 100%;
    line-height: px2rem(88);
}
.ad_back .icon {
    display: block;
    font-size:  px2rem(35);
}
.ad_back {
    display: block;
    width:  px2rem(50);
    height: 100%;
    display: block;
    line-height: px2rem(88);
    position: absolute;
    left:  px2rem(30);
    top:  px2rem(0);
}
.ad_more {
    @include px2px(40);
    color: #333;
    display: block;
    width: px2rem(60);
    height: 100%;
    text-align: right;
    line-height: px2rem(88);
    position: absolute;
    right: px2rem(30);
    top: px2rem(0);
}
.order_list {
    border-top: 1px solid #d2d2d2;
}
.after_empty {
    background: #fff;
    height: 94vh;
    .pic_wrap {
       padding: px2rem(115) 0 px2rem(40);
       width: px2rem(365);
       margin: 0 auto;
    }
    p {
        color: #999;
         @include px2px(28);
         text-align: center;
    }
}
.list_layer {
    margin-bottom: px2rem(10);
    .layer_title {
        height: px2rem(88);
        line-height: px2rem(88);
        padding-left: px2rem(20);
        color: #333;
        @include px2px(26);
        position: relative;
         background: #fff;
    }
    .title_word {
        display:inline-block;
        width: auto;
        max-width: 50%;
        vertical-align: middle;
    }
    .pay_status {
         position: absolute;
         right: px2rem(20);
         top: 0;
         height: 100%;
         line-height: px2rem(88);
         color: #f42323;
    }
    .list_content {
        border-bottom: 1px solid #fff;
        div {
            background: #f9f9f9;
        }
    }
    .list_item {
        width: 100%;
        padding: px2rem(20) px2rem(30);
        .pic {
            width: px2rem(180);
            height: px2rem(180);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .list-item:not(:last-child) {
        border-bottom: 2px solid #fff;
    }
}
.info {
    flex: 1;
    margin-left: px2rem(30);
    position:relative;

    .title {
        @include px2px(26);
        line-height: 1.4;
    }
    .prop {
        color: #666;
        @include px2px(24);
        position: relative;
        padding-top: px2rem(5);
        padding-bottom: px2rem(10);
    }
    .num {
        position: absolute;
        right: 0;
        top: px2rem(55);
    }
}
.list_footer {
    background:#fff;
    @include px2px(26);
    height: px2rem(88);
    padding: 0 px2rem(30);
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    .pay {
        color: #333;
        @include px2px(26);
    }
    .reund {
        color: #f42323;
        @include px2px(26);
        margin-left: px2rem(20); 
    }
}